@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500&display=swap');
    /* @media  screen  max-width: 1399px */

    @media only screen and (max-width: 1399px) {
        html {
            font-size: 95%;
        }

        header .navbar ul>li {
            margin-right: 20px;
        }

        .notification {
            margin-right: 1px;
        }

        .color-yellow {
            width: 170px;
            font-size: 12px;
        }

        .font-14 {
            font-size: 12px;
        }

        .bg-yellow {
            width: 70px;
            font-size: 12px;
        }
      .deal-card .card-title .font-18 {
            font-size: 14px;
        }

        .deal-card .card-title .font-16 {
            font-size: 14px;
        }

        .deal-card .card-title .font-14 {
            font-size: 12px;
        }

        .my-account-sec .review-rating-text {
            padding-top: 20px;
        }

        .my-account-sec .text-reviews {
            padding-bottom: 30px;
        }

        .my-account-sec .total-user .total-text p {
            font-size: 14px;
        }

        .my-account-sec .terms-text p {

            font-size: 12px;
        }

        .notification .dropdown-menu.show {
            left: -245px;
        }

        .my-account-sec .nav-pills .nav-link {
            font-size: 13px;
        }

        .sec-map .map-content {
            padding: 20px 0 20px 10px;
        }

        .sec-map .map-content .ms-4 {
            margin-left: 3px !important;
        }

        .sec-map .map-review-list {
            margin-left: 15px;
        }

        .sec-map .map-search {
            width: 230px;
        }

        .sec-map .review-227 {
            font-size: 10px;
        }

        .login-sec .form-check-input {

            top: 1px;
        }

    }

    /* @media  screen  max-width: 1199px */

    @media only screen and (max-width: 1199px) {

        header .navbar ul>li {
            margin-right: 7px;
        }

        .notification {
            margin-right: 0px;
        }

        .color-yellow {
            width: 170px;
            font-size: 12px;
        }

        .font-14 {
            font-size: 12px;
        }

        .bg-yellow {
            font-size: 12px;
            width: 60px;
        }

        .img-section .img-text-box h1 {
            padding-top: 70px;
            font-size: 19px;

        }

        .img-section .img-text-img {
            padding-bottom: 200px;
            padding-top: 50px;

        }

        footer {
            font-size: 14px;
        }




        .sec-community {
            padding-top: 50px;
            padding-bottom: 70px;

        }

        .sec-single-managment .cardio-text .star-heading h1 {
            font-size: 18px;
        }

        .sec-single-managment .cardio-text span {
            font-size: 12px;
        }

        .sec-single-managment .description-text .font-18 {
            font-size: 18px;
        }

        .sec-single-managment .price-avtice-box .price {
            font-size: 20px;
        }

        .sec-single-managment .cardio-text .star-heading {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .sec-single-managment .description-text .font-18 {
            font-size: 16px;
            padding-top: 5px;
        }



        .sec-single-managment .description-text .font-13 {
            font-size: 12px;
        }

        .sec-single-managment .remedem-text P {
            margin-top: 20px;
        }

        .sec-related .deal-card .card-title .font-16 {
            font-size: 11px;
        }

        .sec-related .deal-card .card-title .font-18 {
            font-size: 12px;
        }

        .sec-update-screen .update-form {
            padding: 0 15px;
        }

        .sec-update-screen .update-dlete-btn .update-btn {
            width: 120px;
            font-size: 18px;
        }

        .sec-update-screen .update-dlete-btn .delete-btn {
            width: 120px;
            font-size: 18px;
        }

        .sec-promption-deal-menegment .upload-img-text {
            margin: 0;
        }

        .sec-marketing-deal-menegment .upload-img-text {
            margin: 0;
        }

        .single-about-page .parmesan-text-box .parmesan-discription-title p {
            font-size: 12px;
        }

        .single-about-page .parmesan-text-box .parmesan-discription-title {
            padding-top: 15px;
        }

        .single-about-page .parmesan-text-box .parmesan-title h2 {
            padding: 10px 0;
            font-size: 22px;
        }

        .single-about-page .realted-product {
            padding-top: 40px;
        }


        .single-about-page {
            padding-top: 50px;
            padding-bottom: 70px;
        }



        .login-sec .signin-btn {
            height: 65px;
            font-size: 14px;
        }
        label, .form__field:focus~.form__label {
            font-size: 12px !important;
        }

        .form__field {
            font-size: 12px !important;
        }

        .login-sec .forget-pass .color-696982 {
            padding-top: 20px;
            font-size: 16px;
        }

        .login-sec .forget-pass .color-b38c2d {
            font-size: 16px;
        }

        .login-sec .login-text-box {
            padding: 30px;
        }

        .login-sec .login-text-box h2 {
            font-size: 28px;
            padding-bottom: 10px;
        }

        .login-sec .login-text-box p {
            font-size: 12px;
        }


        .login-sec .form-check label {
            font-size: 16px !important;
        }

        .login-sec .form__group {
            margin-bottom: 30px;
        }

        .forgert-sec .forget-text-box {
            padding: 70px 40px;
        }

        .forgert-sec .forget-text-box h2 {
            font-size: 40px;
        }

        .forgert-sec .forget-text-box p {
            font-size: 16px;
            padding-bottom: 19px;
        }

        .forgert-sec {
            padding-top: 100px;
        }

        .sec-sign-up .sign-up-text h1 {
            font-size: 45px;
        }

        .sec-sign-up .owner-btn {
            font-size: 20px;
        }

        .sec-sign-up .already-account-text p {
            font-size: 16px;
        }

        .my-account-sec .reviews-bussiness .review-title p {
            padding: 10px;
        }

        .my-account-sec .review-para {
            padding: 15px 20px;
        }

        .my-account-sec .review-rating-text h1 {
            font-size: 24px;
        }

        .my-account-sec .gym-text {
            font-size: 10px;
        }

        .my-account-sec .text-reviews {
            font-size: 10px;
        }

        .my-account-sec .total-user .total-text p {
            font-size: 16px;
        }

        .my-account-sec .total-user .total-text h2 {
            font-size: 35px;
        }

        .my-account-sec .total-user .total-text p {
            font-size: 10px;
        }

        .my-account-sec .total-user .total-text h2 {
            font-size: 25px;
        }

        .sec-promotion-management {
            padding-top: 50px;
            padding-bottom: 70px;
        }

        .deal-row {
            padding-bottom: 0;
            padding-top: 0;
        }

        .sec-single-managment {
            padding-top: 50px;
        }

        .my-account-sec .nav-pills .nav-link {
            padding: 14px 0 14px 6px;
            font-size: 13px;
        }

        .img-section .feature-img-box {
            width: 170px !important;
        }
        header .bg-yellow {
            font-size: 13px !important;
        }
        .img-section{
            padding: 0 !important;
        }
    }

    /* @media  screen  max-width: 991px */

    @media only screen and (max-width: 991px) {
        .slick-next {    right: 10px !important;}
        .slick-prev {left: 0 !important;z-index: 99;}
        .login-sec .signup-btn {    font-size: 15px;    padding: 10px 11px;    display: table;    margin: 20px auto;}
        .slider-title p {    text-align: center;}
        html h4.font-22, html .banner-slider .slider-item .slider-title p {    font-family: poppins !important;    font-weight: 400 !important;    font-style: normal !important;    line-height: 1.6;    font-size: 16px !important;}
    
    
        header .container {
            max-width: 100%;
            width: 100%;
        }

        .user .dropdown {
            margin-right: 30px;
        }

        header .navbar ul>li {
            padding: 0;
            margin: 0;
        }

        header .navbar ul>li {
            background-color: #ba8b00;
            color: #fff !important;
        }

        header .navbar .navbar-collapse {
            padding: 0 !important;
            margin: 0 !important;
            width: 100% !important;
        }

        header .navbar ul>li a {
            height: 100%;
            width: 100%;
            color: #fff !important;
            display: flex;
            align-items: flex-start !important;
            justify-content: start !important;
            border-bottom: 1px dotted #fff;
            padding: 15px !important;
        }

        header .container {
            padding-left: 0 !important;
            margin-left: 0 !important;
            width: 100%;
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;


        }

        header {
            padding: 0 !important;
        }

        header .navbar-brand {
            margin-left: 20px;
        }

        header .navbar-toggler {
            margin-right: 20px;
        }

        header ul {
            margin-top: 15px;
        }

        .benner-img h1 {
            bottom: 50px;
            font-size: 20px;
        }

        .img-section .img-text-box h1 {
            padding-top: 70px;
            font-size: 19px;

        }

        .img-section .img-text-img {
            padding-bottom: 0;
            padding-top: 50px;

        }

        footer {

            font-size: 14px;

        }

        .deal-card .card-title .font-16 {
            font-size: 12px;
        }

        .remded-text-box.d-flex.align-items-center {
            flex-direction: column;
            align-items: start !important;
        }

        section.sec-update-screen {
            padding-top: 60px;
        }

        .sec-single-managment .user-box-remed {
            margin-left: 0;
        }


        .price-avtice-box.d-flex {
            flex-direction: column;
            align-items: start !important;
        }

        .sec-update-screen .update-delte {
            padding-bottom: 20px;
        }



        .sec-update-screen .update-dlete-btn .update-btn {
            width: 100px;
            font-size: 15px;
        }

        .sec-update-screen .update-dlete-btn .delete-btn {
            width: 100px;
            font-size: 15px;
        }

        .sec-promption-deal-menegment {

            padding-top: 50px;
        }

        .sec-promption-deal-menegment .imgge-text p {
            font-size: 16px;
        }

        .sec-promption-deal-menegment .upload-img-text {
            margin-left: 20px;
        }

        .sec-promption-deal-menegment .post-btn {
            margin-top: 30px;
        }

        .sec-marketing-deal-menegment .upload-img-text {
            margin-left: 20px;
        }

        .sec-community-single .soup-text h1 {
            font-size: 21px;
        }

        .sec-community-single .promotion-title h1 {
            font-size: 20px;
        }

        .sec-community-single .footer-ralated {
            font-size: 12px;
        }

        .single-about-page .parmesan-text-box .parmesan-title h1 {
            font-size: 18px;
        }

        .single-about-page .parmesan-text-box .parmesan-title h2 {
            font-size: 18px;
        }

        .single-about-page .parmesan-text-box .parmesan-discription-title h2 {
            font-size: 16px;
        }



        .single-about-page .parmesan-text-box .parmesan-discription-title p {
            font-size: 11px;
        }

        .single-about-page .realted-product p {
            font-size: 18px;

        }

        .single-about-page .parmesan-text-box .parmesan-title .color-2e3336 {
            font-size: 10px;
        }

        .login-sec .login-text-box h2 {
            font-size: 30px;
        }

        .login-sec .signin-btn {
            height: 60px;
        }

        .login-sec .login-text-box {
            padding: 20px;
        }

        .forgert-sec .forget-text-box h2 {
            font-size: 28px;
        }

        .forgert-sec .forget-text-box p {
            font-size: 15px;
            padding-bottom: 10px;
        }



        .forgert-sec .form__field:placeholder-shown~.form__label {
            font-size: 14px !important;
        }

        .forgert-sec .signin-btn {
            font-size: 18px;
            height: 65px;
        }

        .sec-sign-up .sign-up-text h1 {
            font-size: 35px;
        }

        .sec-sign-up .owner-btn {
            font-size: 17px;
        }

        .sec-sign-up .already-account-text p {
            font-size: 14px;
        }

        .sec-sign-up .form__field:placeholder-shown~.form__label {
            font-size: 14px !important;
        }

        .sec-sign-up .input-group .form-select {
            font-size: 14px;
        }

        .sec-payment {
            padding-top: 50px;
            padding-bottom: 200px;
        }

        .my-account-sec .nav-pills .nav-link {
            font-size: 12px;
        }

        .my-account-sec .form__group {
            margin-bottom: 24px;
        }

        .my-account-sec .profile-text .edit-profile {
            width: 120px;
            font-size: 15px;
        }

        .my-account-sec .profile-text h1 {
            font-size: 22px;
        }

        .my-account-sec .profile-form-text {
            padding: 20px;
            margin-top: 10px;
        }

        .my-account-sec .reviews-bussiness .review-title p {
            padding: 10px;
        }

        .my-account-sec .review-para {
            padding: 15px 20px;
        }

        .my-account-sec .review-rating-text h1 {
            font-size: 24px;
        }

        .my-account-sec .gym-text {
            font-size: 10px;
        }

        .my-account-sec .text-reviews {
            font-size: 10px;
        }

        .my-account-sec .text-reviews {
            padding-bottom: 10px;
        }

        .my-account-sec .review-para {
            padding: 7px 20px;
        }

        .my-account-sec .notication-switch {
            width: 400px;
            margin-top: 20px;
        }

        .my-account-sec .notifaction-text h1 {
            font-size: 20px;
        }

        .my-account-sec .notifaction-text p {
            font-size: 12px;
        }

        .my-account-sec .switch-text span {
            font-size: 12px;
        }

        .my-account-sec .notifaction-text {
            padding-bottom: 200px;
        }

        .my-account-sec .terms-text p {
            padding-top: 15px;
        }

        .sec-map .map-content {
            padding: 17px 6px;
        }

        .sec-map .ms-4 {
            margin-left: 10px !important;
        }

        .sec-map .map-search {
            width: 200px;
        }

        .res-name {
            font-size: 14px;
        }

        .sec-map .review-227 {
            font-size: 10px;
        }

        .navbar-light .navbar-nav .nav-link.active,
        .navbar-light .navbar-nav .show>.nav-link a:hover {
            color: #fff !important;
        }

        header .navbar .user ul>li a {
            font-size: 14px;
        }

        header .navbar .notification ul>li a {
            font-size: 14px;
        }

        .sec-map .review-227 {
            font-size: 8px;
        }

        .sec-map .map-review-list {
            margin-left: 8px;
        }

        .img-section .feature-img-box {
            width: 140px !important;
        }
        .login-sec .signin-btn {
            height: 50px;
            font-size: 12px;
        }
        .login-sec .login-text-box label, .form__field:focus~.form__label {
            font-size: 10px !important;
        }

        .login-sec .login-text-box .form__field {
            font-size: 10px !important;
        }
        .login-sec .login-text-box .form__field:placeholder-shown~.form__label{
            font-size: 10px !important;
        }
        .login-sec .login-text-box p{
            font-size: 10px !important;
        }
        .login-sec .login-text-box .already-account {
            margin-top: 40px;
        }
        .img-section{
            padding: 0 0 140px 0  !important;
        }
     
        
        .sec-management .on-going-deal .deal-title h1 {
            font-size: 20px;
        }
        .deal-type-title h1 {
            font-size: 45px;
        }
    }

    /* @media  screen  max-width: 767px */

    @media only screen and (max-width: 767px) {
        header .container {
            max-width: 100%;
            width: 100%;
        }

        .user .dropdown {
            margin-right: 30px;
        }

        header .container {
            padding-left: 0 !important;
            margin-left: 0 !important;
            width: 100%;
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;


        }

        header {
            padding: 0 !important;
        }

        .position-absolute {
            position: unset !important;
            width: 100%;
        }

        .benner-img h1 {
            position: absolute !important;
            bottom: 40px;
            font-size: 18px;
        }

        footer {

            font-size: 14px;
        }

        .img-section .img-text-img {
            padding-bottom: 0;
            padding-top: 50px;

        }

        .footer-list ul>li:not(:last-child) {
            margin-right: 10px;
        }

        .footer-text.d-flex {
            flex-direction: column;
        }

        .footer-list {
            margin-top: 10px;
        }

        .single-img img {
            width: 100%;
            height: auto;
        }

        .sec-single-managment .single-about-discription {
            padding: 0;
        }

        .cardio-text {
            padding-top: 20px;
        }

        .sec-related {
            padding-top: 40px;

        }

        .sec-related .releated-text {
            padding-bottom: 10px;
        }

        .sec-single-managment {
            padding-top: 50px;
        }

        .sec-update-screen .edit-img img {
            width: 100%;
        }

        .sec-update-screen .update-form {
            padding: 10px 0;
        }

        .sec-update-screen .update-dlete-btn .update-btn {
            height: 40px;
        }

        .sec-update-screen .update-dlete-btn .delete-btn {
            height: 40px;
        }

        .sec-promption-deal-menegment .upload-img-text {
            margin: 0;
            padding-bottom: 20px;
        }

        .sec-promption-deal-menegment .promotion-text-box h1 {
            font-size: 22px;
        }

        .sec-promption-deal-menegment .imgge-text p {
            font-size: 15px;
        }

        .update-form .description-text .font-18 {
            font-size: 16px;
        }

        .update-form .description-text .font-13 {
            font-size: 12px;
        }

        .sec-promption-deal-menegment .post-btn {
            width: 110px;
            margin-top: 5px;
            font-size: 16px;
            height: 40px;
        }

        .sec-marketing-deal-menegment .upload-img-text {
            margin: 0;
            padding-bottom: 25px;
        }

        .sec-marketing-deal-menegment {
            padding-top: 50px;
            padding-bottom: 120px;
        }

        .sec-marketing-deal-menegment .post-btn {
            width: 120px;
            font-size: 18px;
            height: 40px;
            margin-top: 10px;
        }

        .sec-community-single .address-text {
            padding-top: 5px;
        }

        .sec-community-single .promotion-title h1 {
            font-size: 16px;
        }

        .sec-community-single .promotion-title {
            padding-top: 30px;
            padding-bottom: 1px;
        }

        .sec-community-single .about-btn {
            width: 70px;
            height: 30px;
            font-size: 14px;
        }

        .sec-community-single .single-card img {
            height: 120px;
        }

        .single-about-page .parmesan-img-box img {
            width: 100%;
        }

        .single-about-page .parmesan-text-box .parmesan-title h1 {
            padding-top: 20px;
        }

        .single-about-page .color-8a9eb8 {
            font-size: 13px;
        }

        .login-sec .login-img img {

            padding: 15px;
        }

        .forgert-sec .login-img img {
            padding: 20px;
        }

        .sec-sign-up .form__group {
            margin-bottom: 30px;
        }

        .sec-sign-up .input-group .form-select {
            margin-bottom: 20px;
        }

        .sec-sign-up .sign-up-text h1 {
            font-size: 30px;
            padding-top: 20px;
        }

        .sec-sign-up .sign-user-img {
            padding-bottom: 15px;
        }

        .sec-sign-up .owner-btn {
            margin-top: 15px;
        }

        .sec-payment .form__group {
            width: 370px;
        }

        .sec-payment .input-group {
            width: 370px;
        }

        .sec-payment .proced-btn {
            width: 370px;
        }

        .sec-payment .payment-text-form h1 {
            font-size: 22px;
        }

        .review-modal .modal-body .tab-content-about {
            padding: 10px 5px;
        }

        .review-modal .single-text-modal h1 {
            font-size: 20px;
        }

        .review-modal .modal-body .food-text {
            font-size: 10px;
        }

        .review-modal .modal-body .single-star {
            padding-bottom: 15px;
        }

        .review-modal .modal-body .nav-tabs .nav-link {
            font-size: 12px;
        }

        .review-modal .modal-body .tab-text .font-12 {
            font-size: 12px;
        }

        .review-modal .modal-body .review-text .reviews .border-1-solid {
            font-size: 12px;
        }

        .my-account-sec .account-tabs {
            height: auto;
        }

        .my-account-sec .total-user .total-text p {
            font-size: 13px;
        }

        .sec-map .map-img img {
            height: auto;
        }

        .sec-map .map-content-box {
            height: 600px;
        }

        .notification .dropdown-menu.show {
            left: -200px;
        }

        .img-section .feature-img-box {
            width: 95px !important;
        }
        .login-sec .form__group{
            margin-top: 5px !important;
            margin-bottom: 20px;
        }
        .login-sec .login-text-box .already-account {
            margin-top: 10px;
        }
        .deal-marketing-img {
            padding: 50px 0;
        }
        
        .sec-management .on-going-deal .deal-title h1 {
            font-size: 16px;
        }

    }


    /* @media  screen  max-width: 575px */
    @media only screen and (max-width: 575px) {
        .benner-img h1 {
            bottom: 20px;
            font-size: 16px;
        }

        .img-section .img-text-box h1 {
            padding-top: 70px;
            font-size: 19px;

        }

        .img-section .img-text-img {
            padding-bottom: 200px;
            padding-top: 50px;

        }

        footer {

            font-size: 11px;
        }

        .sec-update-screen .update-dlete-btn .update-btn {
            width: 85px;
            height: 35px;
            font-size: 12px;
        }

        .sec-update-screen .update-dlete-btn .delete-btn {
            width: 85px;
            height: 35px;
            font-size: 12px;
        }

        .sec-update-screen .edit-text h1 {
            font-size: 18px;
        }

        .update-form .description-text .font-13 {
            font-size: 11px;
        }

        .update-form .description-text .font-18 {
            font-size: 16px;
        }

        .remeded-check-box .check-remeded p {
            font-size: 16px;
        }

        .sec-update-screen .update-form .form-check-inline {
            display: inherit;
        }

        .sec-promption-deal-menegment .edit-img {
            width: 120px;
            height: 80px;
        }

        .sec-promption-deal-menegment .form-check-inline {
            display: inherit;
        }

        .sec-marketing-deal-menegment .promotion-text-box h1 {
            font-size: 18px;
        }

        .sec-marketing-deal-menegment .imgge-text p {
            font-size: 16px;
        }

        .sec-marketing-deal-menegment .edit-img {
            width: 120px;
            height: 90px;
        }

        .sec-marketing-deal-menegment .upload-img-text {
            padding-bottom: 20px;
        }

        .sec-marketing-deal-menegment .mar-top {
            margin-top: 39px;
        }

        .sec-marketing-deal-menegment .form-check-inline {
            display: inherit;
        }

        .sec-community-single .single-card img {
            height: 76px;
        }

        .sec-community-single .soup-text h1 {
            font-size: 16px;
        }

        .sec-community-single .address-text ul>li {
            font-size: 10px;
        }

        .sec-community-single .reviews-text ul>li {
            font-size: 10px;
        }

        .sec-community-single .nav-tabs .nav-link {
            font-size: 11px;
        }

        .sec-community-single .promotion-title h1 {
            font-size: 18px;
        }

        .sec-community-single .about-btn {
            width: 60px;
            height: 25px;
            font-size: 12px;
        }

        .single-about-page .parmesan-text-box .parmesan-title h1 {
            font-size: 16px;
        }

        .single-about-page .parmesan-text-box .parmesan-title h2 {
            font-size: 16px;
        }

        .single-about-page .parmesan-text-box .parmesan-discription-title h2 {
            font-size: 14px;
        }



        .single-about-page .realted-product p {
            font-size: 16px;
        }

        .single-about-page .realted-product {
            padding-top: 30px;
        }

        .login-sec .login-text-box h2 {
            font-size: 20px;
        }

        .login-sec .login-text-box p {
            font-size: 14px;
        }

        .login-sec .form-check label {
            font-size: 12px !important;
        }

        .login-sec .signin-btn {
            font-size: 16px;
            height: 50px;
            padding-top: 0;
        }



        .login-sec .form__group {
            margin-bottom: 21px;
        }

        .login-sec .forget-pass .color-696982 {
            font-size: 12px;
        }

        .login-sec .forget-pass .color-b38c2d {
            font-size: 12px;
        }


        .forgert-sec .forget-text-box h2 {
            font-size: 19px;
        }

        .forgert-sec .forget-text-box {
            padding: 21px 10px;
        }

        .forgert-sec .forget-text-box p {
            font-size: 12px;
        }

        .forgert-sec .form__group {
            margin-bottom: 24px;
        }

        .forgert-sec .signin-btn {
            font-size: 14px;
            height: 55px;
        }

        .forgert-sec .form__field:placeholder-shown~.form__label {
            font-size: 12px !important;
        }

        .sec-sign-up .sign-up-text h1 {
            font-size: 20px;
        }

        .sec-sign-up .sign-user-img {
            padding-bottom: 5px;
        }

        .sec-sign-up .sign-up-text h1 {
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .sec-sign-up .owner-btn {
            font-size: 13px;
            height: 55px;
        }

        .sec-sign-up .already-account-text p {
            font-size: 12px;
        }

        .sec-sign-up .form__field:placeholder-shown~.form__label {
            font-size: 12px !important;
        }

        .sec-sign-up .input-group .form-select {
            font-size: 12px;
        }

        .sec-payment .form__group {
            width: 270px;
        }

        .sec-payment .input-group {
            width: 270px;
        }

        .sec-payment .proced-btn {
            width: 270px;
        }

        .sec-payment .payment-text-form h1 {
            font-size: 16px;
        }

        .form__field:placeholder-shown~.form__label {
            font-size: 12px !important;
        }

        .sec-payment .input-group .form-select {
            font-size: 12px;
        }

        .sec-payment .form__group {
            margin-bottom: 15px;
        }

        .sec-payment .input-group {
            margin-bottom: 18px;
        }

        .sec-payment {
            padding-bottom: 310px;

        }

        .review-modal .modal-body .review-text .reviews .border-1-solid {
            font-size: 11px;
        }

        .review-modal .modal-body .review-text .color-333 {
            font-size: 11px;
        }

        .my-account-sec .profile-text .edit-profile {
            width: 78px;
            font-size: 12px;
            height: 31px;
        }

        .my-account-sec .form__group {
            margin-bottom: 10px;
        }

        .my-account-sec .nav-pills .nav-link {
            padding: 15px;
            font-size: 12px;
        }

        .my-account-sec .reviews-bussiness .review-title p {
            padding: 10px;
        }

        .my-account-sec .review-para {
            padding: 15px 20px;
        }

        .my-account-sec .review-rating-text h1 {
            font-size: 22px;
        }

        .my-account-sec .gym-text {
            font-size: 10px;
        }

        .my-account-sec .text-reviews {
            font-size: 10px;
        }

        .my-account-sec .text-reviews {
            padding-bottom: 10px;
        }

        .my-account-sec .review-para {
            padding: 7px 20px;
        }



        .my-account-sec .review-para>p {
            font-size: 12px;
        }

        .my-account-sec .reviews-bussiness .review-title p {
            font-size: 14px;
        }

        .my-account-sec .notication-switch {
            width: 200px;
            padding: 14px 5px;
        }

        .my-account-sec .notifaction-text p {
            font-size: 11px;
        }

        .my-account-sec .notifaction-text h1 {
            font-size: 18px;
        }

        .my-account-sec .notifaction-text {
            padding-bottom: 300px;
        }

        .img-section {
            padding: 45px 0;
            padding-bottom: 106px;
        }

        .img-section .img-text-box h1 {
            font-size: 15px;
        }

        .benner-img h1 {
            font-size: 14px;
        }

        .notification .dropdown-menu.show {
            left: -65px;
        }

        .notification-text p {
            font-size: 10px;
        }

        .notification .date {
            font-size: 10px;
        }

        header .navbar .user ul>li a {
            font-size: 10px;
        }

        .remeded-check-box {
            flex-direction: column;
            align-items: self-start !important;
        }

        .check-boxes.ms-5 {
            margin-left: 3px !important;
            margin-top: 10px;
        }

        .img-section .feature-img-box {
            width: 65px !important;
            padding: 3px;
        }

        .login-sec .form-check-input {
            top: 0;
        }
        .login-sec .login-text-box .login-sec .signin-btn {
            height: 40px;
            font-size: 12px;
        }
        .login-sec .login-text-box label, .form__field:focus~.form__label {
            font-size: 10px !important;
        }

        .login-sec .login-text-box  .form__field {
            font-size: 10px !important;
        }
        .login-sec .login-text-box .form__field:placeholder-shown~.form__label{
            font-size: 10px !important;
        }
        .login-sec .login-text-box p{
            font-size: 10px !important;

        }
        .login-sec .sigin-button {
            padding-top: 10px;

        }
        .sec-management .on-going-deal .deal-title h1 {
            font-size: 14px;
        }
        
        .deal-type-title h1 {
            font-size: 30px;
        
        }
    }
